<h1><%= t("book.Editing book") %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t("link.show", name: Book.model_name.human.downcase), @book %> |
  <%= link_to t("link.back", name: Book.model_name.human.pluralize(I18n.locale).downcase), books_path %>
</nav>
