<h1><%= t("book.Editing book") %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t("book.Show this book"), @book %> |
  <%= link_to t("book.Back to books"), books_path %>
</nav>
