<h1><%= t("book.new_book") %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t("link.back", name: Book.model_name.human.pluralize(I18n.locale).downcase ), books_path %>
</nav>
